.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1
}

.github-corner:hover .octo-arm {
  animation: a .56s ease-in-out
}

.github-corner svg {
  color: #fff;
  fill: #000; /* github-corner color*/
  height: 80px;
  width: 80px
}

textarea {
//overflow-y: scroll;
//overflow-x: hidden;
font-family: monospace;
}

.canvas-container {
  position: relative;
  overflow: auto;
  max-height: 330px;
  resize: vertical;
}

.canvas-container[style*="height"] {
  max-height: unset;
} 

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background: black;
}

.grid-container {
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
}

.symbol-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 50; height: 20;
  /*
  background-color: #007bff;
  opacity: 0.5;
  */
  color: grey;
  font-size: 12px;
  pointer-events: none;
  padding: 0;
  margin: 0;
  text-indent: 3px;
}
